<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ - Bài tập Bảo mật</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">BÀI THỰC HÀNH MẬT MÃ</h2>
        <div class="list-group mt-4">
            <a href="/caesar" class="list-group-item list-group-item-action">1. Mật mã Caesar</a>
            </div>
    </div>
</body>
</html>